@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {
  :root {
    --background: 40 100% 96%;
    --foreground: 240 5.3% 12.2%;
    --card: 0 0% 100%;
    --card-foreground: var(--foreground);
    --popover: var(--card);
    --popover-foreground: var(--card-foreground);
    --primary: 17.5 98.3% 54.5%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 240 100% 67.8%;
    --secondary-foreground: var(--foreground);
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: var(--muted);
    --accent-foreground: var(--foreground);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--primary-foreground);
    --border: 20 5.9% 90%;
    --input: var(--border);
    --ring: var(--primary);
    --radius: 1rem;
}

.dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --primary: var(--ring);
    --primary-foreground: var(--foreground);
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: var(--foreground);
    --muted: var(--secondary);
    --muted-foreground: 24 5.4% 63.9%;
    --accent: var(--secondary);
    --accent-foreground: var(--foreground);
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: var(--primary-foreground);
    --border: var(--secondary);
    --input: var(--border);
    --ring: var(--primary);
}

.text1{
  font-family: var(--font-roboto)
}
.text2{
  font-family: var(--font-unbounded)
}
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}